
<div class="overflow-x-auto">
   

   <style>

h1 {
    font-size: x-large ;
    font-weight: bold ;
}
    body {
        text-align: center;
    }
    
th {
    padding: 30px;
}

    .center {
  margin-left: auto;
  margin-right: auto;
}
   </style>
   
   
   <body>
    
        <h1> </h1>
       
         <table class="center">
<tr>
  
        <th>IME I PREZIME</th>

        <th>UKUPNI BROJ BODOVA</th>

        </tr>

        <tr>
<h1>{{result.items.[0].competition}}</h1>
            <h1>Datum natjecanja:  {{result.items.[0].apply_till}}
                    </h1>
            {{#each result.items}}


             
            <td>{{this.participant}}</td>
       
            
            <td>{{this.points}}</td>

            </tr>
            {{/each}}
            
</table>
    
    </body>
</div>